.dropdown-menu {
  width: 100%;
  background-color: #f7f7f7;
}

.tall-section {
  height: 1000px;
  background-color: #f2f2f2;
}

.container {
	margin: 0; 
	padding: 25px;
}

.container h2 {
  	text-align: center;
}

.main-title {
    margin-bottom: 20px;
    text-align: center;
    color: #ff1232;
    font-size: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
} 

.navbar-brand {
	float: left;
    font-size: 35px;
    color: white;
    padding-left: 0;
}
